/* --- MASSIVE GRAPH OPTIMIZATIONS --- */
.fg-huge-graph .fg-label {
	display: none !important;
}
.fg-huge-graph .fg-node-overlay {
	display: none !important;
}
.fg-huge-graph .fg-node-selected-ring {
	display: none !important;
}
.fg-huge-graph .fg-link {
	pointer-events: none !important;
	stroke-width: 0.5px !important;
}
